/* Common Styles */
@import 'variables';

@font-face {
    font-family: 'exo';
    src: url('@{fontPath}/etw_exo_light.woff2') format('woff2'),
         url('@{fontPath}/etw_exo_light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('@{fontPath}/etw_exo_bold.woff2') format('woff2'),
         url('@{fontPath}/etw_exo_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('@{fontPath}/etw_exo_regular.woff2') format('woff2'),
         url('@{fontPath}/etw_exo_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.map {
	width: 1000px;
    height: 500px;
}

.map > div:first-child {
    width: 1000px;
    height: 500px;
    position: relative;
}
#map_last {
	-webkit-mask: url('@{imgPath}/circle_mask.png');
	mask: url('@{imgPath}/circle_mask.png');
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	border-radius: 0;

	position: absolute;

	size: 120px;

	&.hover {
		size: 220px;
	}
position: relative !important;
	z-index: 2;
	overflow: hidden;

	bottom: 180px;
	left: 0;

	width: 140px;
	height: 140px;

	border-radius: 1000px;

	border: 2px solid rgba(255, 255, 255, 0.5);
	cursor: pointer;

	transition: all 0.4s;

	&.hover {
		width: 300px;
		height: 300px;
	}

	& * {
		pointer-events: none;
	}

	& > div {
		z-index: 1;
		position: absolute;

		left: 50%;
		top: 50%;

		width: 800px;
		height: 600px;

		margin: -300px 0 0 -400px;
	}

	& > span {
		z-index: 1;
		display: block;
		position: absolute;

		left: 50%;
		top: 50%;

		width: 150px;
		max-width: 50%;

		height: 100%;

		-webkit-transform-origin: left top;
			-moz-transform-origin: left top;
			-ms-transform-origin: left top;
				transform-origin: left top;



		&.outside > span {
			right: 0;

			background-position: right center;
			transform : translate(0, -50%) !important;
		}

		& > span {
			position: absolute;
			display: block;

			width: 25px;
			height: 36px;

			background-image: url('@{imgPath}/img_arrow.png');
			background-repeat: no-repeat;

			transform : translate(0, -50%) !important;
			transform-origin: left bottom;
		}
	}
}
/* Reset */
html, body {
    height: 100%;
    overflow: visible;
}
body {
	background: url('@{imgPath}/bg-page.jpg') no-repeat;
	font-family: 'exo', sans-serif;
	font-size: 16px;
	line-height: 1.3;
}
h1, h2, h3, h4, h5, h6, figure {
    margin-top: 0;
    margin-bottom: 0.8em;
}
h1, h2, h3, h4, h5, h6, b, strong {
	font-weight: 700;
}
figure {
    margin: 0;
}
p {
    margin: 0 0 0.8em;
}
div, header, footer, section, nav {
    box-sizing: border-box;
}
.mainContainer {
    height: 100%;
}
.hide {
    display: none !important;
}

/* Page */
.page {
    position: relative;
    height: 100%;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}
.appLogo {
    background-image: url('@{imgPath}/logo-etw-white.png');
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    position: absolute;
    text-indent: -999em;
    top: 1em;
    left: 1em;
    height: 11em;
    width: 10em;
    .globeReady & {
        display: block;
    }
}
.gameStatus {
    position: absolute;
    top: 2em;
    right: 1.7em;
    color: #fff;
    font-size: 0.9em;
    small {
        display: inline-block;
        font-weight: 200;
        width: 8em;
        font-size: 1em;
        letter-spacing: 0.1em;
        text-align: right;
        margin-right: 0.5em;
        vertical-align: top;
        position: relative;
        top: 1em;
    }
    strong {
        background-image: url('@{imgPath}/map/icon-total.png');
        background-size: contain;
        background-repeat: no-repeat;
        color: #000;
        display: inline-block;
        font-size: 1.2em;
        line-height: 3.8em;
        text-align: center;
        width: 3.5em;
        height: 4em;
    }
}
.popin {
    background-image: url('@{imgPath}/map/bg-bubble.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: #000;
    width: 10em;
    height: 6em;
    position: absolute;
    top: 5em;
    left: 50%;
    margin-left: 10em;
    span {
        font-weight: 200;
        margin: 1.55em 0 0 1em;
        display: block;
        font-size: .9em;
        line-height: 1.2;
    }
}

/* Popup */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 41;
    text-align: center;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
}
.popupOverlay {
    animation: fadeIn 0.3s;
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 40;
	.out & {
	    animation: fadeOut 0.2s;
        animation-fill-mode: forwards;
	}
}
.popupContent {
    animation: scaleIn 0.4s;
    background: #fff;
    border-radius: 14px 0 14px;
    box-shadow: 6px 6px 0 #fb4d2f;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    position: relative;
	width: 32em;
    z-index: 41;
    .close {
        background: #000;
        color: #fff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        line-height: 26px;
        display: block;
        position: absolute;
        top: 14px;
        right: 14px;
        text-align: center;
    }
    main {
        padding: 25px;
        p {
            margin-bottom: 0;
        }
    }
    .actions {
        background: #eee;
        border-radius: 0 0 14px 14px;
        padding: 14px;
    }
    h3 {
        font-size: 2em;
        margin-bottom: 0.4em;
    }
    .won {
        h3 {
            color: #2ca50f;
        }
    }
    .lost {
        h3 {
            color: #fd0000;
        }
    }
    .actions a {
        background: #fb4d2f;
        border-radius: 18px 0 18px;
        border: 1px solid rgba(0,0,0,.35);
        border-right-width: 3px;
        border-bottom-width: 3px;
        box-shadow: 3px 3px 0 rgba(0,0,0,.25);
        color: #fff;
        cursor: pointer;
        margin: 0;
        display: inline-block;
        font-family: 'exo';
        font-size: 0.9em;
        padding: 0.5em 1.4em 0.4em;
        margin: 0 0.7em;
        i {
            background-image: url('@{imgPath}/map/icon-globe.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            content: '';
            display: inline-block;
            width: 1.8em;
            height: 1.8em;
            vertical-align: middle;
        }
        &.btnContinet {
            background: #d2a90c;
            i {
                background-image: url('@{imgPath}/map/icon-map.png');
            }
        }
        span {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0.3em;
        }
    }
	.out & {
	    animation: scaleOut 0.15s;
        animation-fill-mode: forwards;
	}
}
